body {
	background-color: #fafcff;
	overflow-x: hidden;
}

.isi {
	display: flex;
	width: 20vw;
	height: auto;
	justify-content: center;
	margin-left: 40vw;
	margin-top: 20vh;
}

footer {
	position: absolute;
	width: 100%;
	bottom: 0px;
}

